<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid text-center">  
        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">
            <img src="/views/dist/img/user6-128x128.jpg" class="user-image" alt="User Image" style="width: 50px;">
        </a>
    </div>
</nav>
<div ng-controller="BarCtrl">
<!--<canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels"> chart-series="series"
</canvas>-->
<div id="container">Placeholder for chart</div>
</div>